@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: Celtic;
    src: url('/fonts/Celtic.ttf');
}

.celtic-font {
    font-family: Celtic, sans-serif;
    font-style: normal;
    font-weight: 400;
}
